/* Importa uma fonte customizada do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Altera o estilo do corpo da página HTML */
body {
    /* Altera a cor de fundo */
    background-color: rgb(192, 238, 255);
}

/* Altera o estilo do título (elemento HTML "h1") */
h1.titulo {
    /* Usa a fonte importada do Google Fonts */
    font-family: "Playfair Display", serif;;
    /* Altera a cor da fonte */
    color: rgb(25, 72, 227);
}

/* Altera o estilo do cartão (caixa de texto e botão de adicionar tarefa) */
.card {
    background-color: rgb(178, 230, 246);
}

/* Altera o estilo da caixa de texto "Adicionar nova tarefa" */
input[type="text"] {
    background-color: #ccedfd;
    border: 1px solid rgb(22, 177, 255);
}

/* Altera o estilo do botão "Adicionar" nova tarefa */
#btn-nova-tarefa {
    background-color: rgb(121, 202, 243);
    color: white;
    border: 1px solid rgb(138, 184, 221);
}

/* Altera o estilo do botão "Adicionar" nova tarefa ao passar o mouse sob ele */
#btn-nova-tarefa:hover {
    background-color: white;
    color: rgb(185, 223, 246);
}

/* Altera o estilo das tarefas adicionadas */
.list-group-item {
    background-color: rgb(208, 234, 246) ;
    border: 1px solid rgb(54, 179, 236);
}

/* Altera o estilo do botão de Concluir */
.btn-concluir {
    background-color: rgb(79, 79, 247);
}

/* Altera o estilo do botão de Excluir */
.btn-excluir {
    background-color: rgb(140, 182, 229);
    border: blue;
}

.dragging {
    opacity: 0.5;
    background: #e9ecef;
}